<!-- Updated 04/17/2025-->
<script type="module" src="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/dist/umich-lib/umich-lib.esm.js"></script>
<header>
    <m-universal-header></m-universal-header>
    <m-website-header name="Deep Blue Documents" variant="dark">
        <button class="hamburger-menu" aria-label="Toggle menu">&#9776;</button>
        <nav class="nav-links">
            <!-- <a href="https://deepblue.lib.umich.edu/documents" style="color: white;">Home</a> -->
            <a href="about.html" style="color: white;">About</a>
            <a href="depositing.html" style="color: white;">Help</a>
        </nav>
    </m-website-header>
</header>