<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/updated-DBD/css/style.css">
   <link href="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/umich-lib.css" rel="stylesheet"/>
   
</head>

<body>
   <nav class="sidebar">
      <ul>
         <li class="nav-header">About</li>
         <li><a href="about.html">About Deep Blue Documents</a></li>
         <li><a href="services.html">Services</a></li>
         <li><a href="preservation.html">Preservation</a></li>
         <li><a href="intellectual-property-rights.html">Intellectual Property Rights</a></li>
         <li><a href="policies.html">Policies</a></li>

         <li class="nav-header">Help</li>
         <li><a href="depositing.html">Depositing</a></li>
         <li><a href="managing.html">Managing</a></li>
         <li><a href="creating-accessible-works.html">Creating Accessible Works</a></li>
         <li><a href="depositing-via-experts.html">Depositing via Experts</a></li>
         <li><a href="glossary.html">Glossary</a></li>
         <li>
         </li>
      </ul>
   </nav>
</body>

</html>
